{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}
<br><br><br>
<div class="container-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8I2Xs4_6LfSL6OVKzWPDVwmOKsUWt7lv_0Q&usqp=CAU');background-repeat: no-repeat;background-size: cover;opacity: 1;">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {%for message in get_flashed_messages()%}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
                {%endfor%}
                {{wtf.quick_form(login_form)}}
                <br>
                <p>Don't have an account? <a href="/authenticate/signup">Sign Up</a></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{%endblock%}
