{% extends 'base.html'%}
{% block content %}
<header class="masthead" style="background-image: url('https://www.izideals.sn/images-property/cb0e348239778979fce0cdd190ec5db1a521debc-MECA7U.jpg'); margin-top: 40px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{post.post_title}}</h1>
                    <div class="content">
                        {{post.post_content | safe}}
                        <br>
                        {{post.post_address | safe}}
                    </div> <br> <br>
                    <strong><span class="meta">Posted by
                        <a href="{{url_for('main.profile', id = post.user_id)}}">{{post.post_by}}</a>
                        on {{post.posted_at.strftime('%B %d, %Y')}}
                    </span></strong>
                    {%if comment_count == 1%}
                        <small>{{comment_count}} comment</small>
                    {%else%}
                        <small>{{comment_count}} comments</small>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</header>
<hr>
<section>
    <div class="container-fluid" style ="background-image:url('https://images.unsplash.com/photo-1519689680058-324335c77eba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); background-repeat: no-repeat; background-size:cover;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2>Reviews</h2>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="reviews">
                    {%for review in reviews%}
                    <div class="card" style="margin-bottom: 7px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                        class="img img-rounded img-fluid" />
                                    <p class="text-success text-center">{{comment.comment_at.strftime('%B %d, %Y')}}</p>
                                </div>
                                <div class="col-md-10">
                                    <div>
                                        <strong>{{review.review_by}}</strong>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>{{review.review}}</p>
                                    <div style="margin-right: 10px;">
                                        <a href="{{url_for('main.fav_comment', id = post.id, comment_id = comment.id)}}" style="margin-left: 5px;" class="float-right btn text-white btn-primary"> <i class="fas fa-heart"></i>
                                            {{review.like_count}}</a>
                                        {%if current_user.is_authenticated%}
                                            {%if current_user.id == post.user_id%}
                                                <a href="{{url_for('main.delete_comment', id = post.id, comment_id = comment.id)}}" class="float-right btn text-white btn-danger"> <i
                                                    class="far fa-trash-alt"></i>
                                                </a>
                                            {%endif%}
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <br>
                    <div class="make-comment">
                        <form class="form-group mt-2" method="POST">
                            {{comment_form.hidden_tag()}}
                            {{comment_form.alias(class = "form-control", placeholder = "Enter a name")}}
                            <br>
                            {{comment_form.comment(class = "form-control", placeholder = "Write a review")}}

                            <div class="text-right" style="margin-top: 10px;">
                                {{comment_form.submit(class = "btn btn-outline-success btn-sm")}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

</section>
{%endblock%}
